div,
h1 {
	margin: 0;
	padding: 0
}

.homepage-hero {
	margin-top: 56px;
	position: relative
}

@media (max-width:420px) {
	.homepage-hero {
		margin-right: 0;
		padding-right: 0
	}
}

.homepage-hero__container {
	display: block;
	margin-bottom: 24px;
	position: relative
}

@media (min-width:600px) {
	.homepage-hero__container {
		margin-bottom: 48px
	}
}

.homepage-hero__image {
	display: block;
	height: 450px;
	position: relative;
	width: 100%;
	z-index: 1
}

@media (min-width:600px) {
	.homepage-hero__image {
		height: 660px
	}
}

.homepage-hero__image img {
	height: 100%;
	left: 0;
	object-fit: cover;
	object-position: 60% 50%;
	position: absolute;
	top: 0;
	width: 100%
}

@media (min-width:600px) {
	.homepage-hero__image img {
		object-position: 60% 50%
	}
}

@media (min-width:1024px) {
	.homepage-hero__image img {
		object-position: 50% 50%
	}
}

.homepage-hero__content {
	bottom: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: end;
	justify-content: flex-end;
	left: 0;
	position: absolute;
	width: 90%;
	z-index: 2
}

@media (min-width:420px) {
	.homepage-hero__content {
		max-width: 340px
	}
}

@media (min-width:600px) {
	.homepage-hero__content {
		max-width: 620px;
		width: 100%
	}
}

@media (min-width:1024px) {
	.homepage-hero__content {
		width: 100%
	}
}

.homepage-hero__content-citation {
	padding-bottom: 16px;
	padding-left: 16px;
	width: 100%
}

.homepage-hero__content-citation p {
	color: #fff;
	font-weight: 500
}

.homepage-hero__content-citation p a {
	border-bottom-color: #fff;
	color: #fff
}

.homepage-hero__content-citation p a:visited {
	border-bottom-color: #fff;
	color: #fff
}

.homepage-hero__content-headline {
	width: 100%;
	z-index: 2
}

.homepage-hero__content-headline-box {
	background: #4285f4;
	max-width: 588px;
	-ms-flex-order: 1;
	order: 1;
	padding: 5px 15px 22px 6px;
	-ms-transform: translateX(-24px);
	transform: translateX(-24px);
	width: 90%
}

@media (min-width:600px) {
	.homepage-hero__content-headline-box {
		padding: 9px 38px 39px 15px;
		-ms-transform: translateX(-40px);
		transform: translateX(-40px);
		width: 100%
	}
}

.homepage-hero__content-headline-box .h-c-headline {
	color: #202124;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 37px;
	font-weight: 400;
	line-height: 1.2973;
	color: #fff!important;
	line-height: 38px!important
}

@media (min-width:600px) {
	.homepage-hero__content-headline-box .h-c-headline {
		font-size: 55px;
		letter-spacing: -.5px;
		line-height: 1.30909
	}
}

@media (min-width:1024px) {
	.homepage-hero__content-headline-box .h-c-headline {
		font-size: 60px;
		line-height: 1.3
	}
}

@media (min-width:600px) {
	.homepage-hero__content-headline-box .h-c-headline {
		color: #202124;
		font-family: "Google Sans", Roboto, Arial, sans-serif;
		font-size: 55px;
		font-weight: 400;
		letter-spacing: -.5px;
		line-height: 1.30909;
		line-height: 88px!important
	}
}

@media (min-width:600px) and (min-width:600px) {
	.homepage-hero__content-headline-box .h-c-headline {
		font-size: 74px;
		line-height: 1.33333
	}
}

@media (min-width:600px) and (min-width:1024px) {
	.homepage-hero__content-headline-box .h-c-headline {
		font-size: 80px;
		line-height: 1.3
	}
}

.homepage-hero__content-headline-aux {
	background: #fff;
	margin-bottom: -24px;
	margin-right: 16px;
	margin-top: -16px;
	-ms-flex-order: 3;
	order: 3;
	position: relative;
	z-index: 3
}

@media (min-width:600px) {
	.homepage-hero__content-headline-aux {
		margin-bottom: -48px;
		margin-right: 0;
		margin-top: -32px
	}
}

.homepage-hero__content-headline-aux .h-c-headline {
	color: #202124;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 55px;
	font-weight: 400;
	letter-spacing: -.5px;
	line-height: 1.30909;
	color: #174ea6!important;
	display: block;
	line-height: 55px!important;
	margin-bottom: 29px;
	margin-left: 6px;
	margin-right: 23px
}

@media (min-width:600px) {
	.homepage-hero__content-headline-aux .h-c-headline {
		font-size: 74px;
		line-height: 1.33333
	}
}

@media (min-width:1024px) {
	.homepage-hero__content-headline-aux .h-c-headline {
		font-size: 80px;
		line-height: 1.3
	}
}

@media (min-width:600px) {
	.homepage-hero__content-headline-aux .h-c-headline {
		color: #202124;
		font-family: "Google Sans", Roboto, Arial, sans-serif;
		font-size: 74px;
		font-weight: 400;
		letter-spacing: -.5px;
		line-height: 1.2973;
		line-height: 130px!important;
		margin-bottom: 12px;
		margin-left: 8px;
		margin-right: 47px;
		margin-top: -14px
	}
}

@media (min-width:600px) and (min-width:600px) {
	.homepage-hero__content-headline-aux .h-c-headline {
		font-size: 92px;
		letter-spacing: -1px;
		line-height: 1.30435
	}
}

@media (min-width:600px) and (min-width:1024px) {
	.homepage-hero__content-headline-aux .h-c-headline {
		font-size: 100px;
		letter-spacing: -1.5px;
		line-height: 1.3
	}
}

.homepage-hero__content-lines {
	background-image: linear-gradient(135deg, #fff 25%, #d2e3fc 25%, #d2e3fc 50%, #fff 50%, #fff 75%, #d2e3fc 75%, #d2e3fc 100%);
	background-size: 50.91px 50.91px;
	bottom: 0;
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	width: 80%;
	z-index: 1
}

.homepage-hero__sub-headline {
	text-align: center
}

@media (min-width:1024px) {
	.homepage-hero__sub-headline {
		margin-bottom: 80px
	}
}

.homepage-hero.-is-before-livestream .before-state,
.homepage-video.-is-before-livestream .before-state {
	display: -ms-flexbox;
	display: flex
}

.homepage-hero.-is-before-livestream .during-state,
.homepage-hero.-is-before-livestream .page-hero,
.homepage-video.-is-before-livestream .during-state,
.homepage-video.-is-before-livestream .page-hero {
	display: none
}

.homepage-hero.-is-during-livestream .during-state,
.homepage-video.-is-during-livestream .during-state {
	display: -ms-flexbox;
	display: flex
}

.homepage-hero.-is-during-livestream .before-state,
.homepage-hero.-is-during-livestream .page-hero,
.homepage-video.-is-during-livestream .before-state,
.homepage-video.-is-during-livestream .page-hero {
	display: none
}

.homepage-hero.-is-after-livestream .page-hero,
.homepage-video.-is-after-livestream .page-hero {
	display: -ms-flexbox;
	display: flex
}

.homepage-hero.-is-after-livestream .before-state,
.homepage-hero.-is-after-livestream .during-state,
.homepage-video.-is-after-livestream .before-state,
.homepage-video.-is-after-livestream .during-state {
	display: none
}

.grid-parent {
	column-gap: 4.29688%;
	display: -ms-grid;
	display: grid;
	grid-auto-flow: row;
	grid-column-gap: 4.29688%;
	grid-row-gap: calc((100vw - 48px)/ 23);
	-ms-grid-columns: (1fr)[12];
	grid-template-columns: repeat(12, 1fr);
	margin: 0 24px;
	max-width: 1280px
}

.grid-parent {
	column-gap: 4.29688%;
	display: -ms-grid;
	display: grid;
	grid-auto-flow: row;
	grid-column-gap: 4.29688%;
	grid-row-gap: calc((100vw - 48px)/ 23);
	-ms-grid-columns: (1fr)[12];
	grid-template-columns: repeat(12, 1fr);
	margin: 0 24px;
	max-width: 1280px
}

@media (min-width:600px) {
	.grid-parent {
		margin: 0 40px
	}
}

@media (min-width:1440px) {
	.grid-parent {
		grid-row-gap: 55px;
		margin: 0 auto
	}
}

.grid-parent.-no-row-spacing {
	grid-row-gap: unset!important
}

@media (min-width:600px) {
	.grid-parent-s {
		column-gap: 4.29688%;
		display: -ms-grid;
		display: grid;
		grid-auto-flow: row;
		grid-column-gap: 4.29688%;
		grid-row-gap: calc((100vw - 48px)/ 23);
		-ms-grid-columns: (1fr)[12];
		grid-template-columns: repeat(12, 1fr);
		margin: 0 24px;
		max-width: 1280px;
		margin: 0 40px
	}
}

@media (min-width:600px) and (min-width:600px) {
	.grid-parent-s {
		margin: 0 40px
	}
}

@media (min-width:600px) and (min-width:1440px) {
	.grid-parent-s {
		grid-row-gap: 55px;
		margin: 0 auto
	}
}

@media (min-width:1024px) {
	.grid-parent-m {
		column-gap: 4.29688%;
		display: -ms-grid;
		display: grid;
		grid-auto-flow: row;
		grid-column-gap: 4.29688%;
		grid-row-gap: calc((100vw - 48px)/ 23);
		-ms-grid-columns: (1fr)[12];
		grid-template-columns: repeat(12, 1fr);
		margin: 0 24px;
		max-width: 1280px;
		margin: 0 auto
	}
}

@media (min-width:1024px) and (min-width:600px) {
	.grid-parent-m {
		margin: 0 40px
	}
}

@media (min-width:1024px) and (min-width:1440px) {
	.grid-parent-m {
		grid-row-gap: 55px;
		margin: 0 auto
	}
}

@media (min-width:1440px) {
	.grid-parent-l {
		column-gap: 4.29688%;
		display: -ms-grid;
		display: grid;
		grid-auto-flow: row;
		grid-column-gap: 4.29688%;
		grid-row-gap: calc((100vw - 48px)/ 23);
		-ms-grid-columns: (1fr)[12];
		grid-template-columns: repeat(12, 1fr);
		margin: 0 24px;
		max-width: 1280px
	}
}

@media (min-width:1440px) and (min-width:600px) {
	.grid-parent-l {
		margin: 0 40px
	}
}

@media (min-width:1440px) and (min-width:1440px) {
	.grid-parent-l {
		grid-row-gap: 55px;
		margin: 0 auto
	}
}

.grid-item {
	grid-column-end: auto;
	-ms-grid-column: auto;
	grid-column-start: auto
}

.grid-item.-center-vertical {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center
}

.-nowrap .grid-item {
	-ms-grid-row: 1;
	grid-row-start: 1
}

.grid-item .grid-parent {
	margin: 0
}

.grid-span-1 {
	-ms-grid-column-span: 1;
	grid-column-end: span 1
}

.grid-span-1.-overflow {
	margin-left: -95.70312%;
	margin-right: -95.70312%
}

.grid-span-2 {
	-ms-grid-column-span: 2;
	grid-column-end: span 2
}

.grid-span-2.-overflow {
	margin-left: -45.70312%;
	margin-right: -45.70312%
}

.grid-span-3 {
	-ms-grid-column-span: 3;
	grid-column-end: span 3
}

.grid-span-3.-overflow {
	margin-left: -29.03646%;
	margin-right: -29.03646%
}

.grid-span-4 {
	-ms-grid-column-span: 4;
	grid-column-end: span 4
}

.grid-span-4.-overflow {
	margin-left: -20.70312%;
	margin-right: -20.70312%
}

.grid-span-5 {
	-ms-grid-column-span: 5;
	grid-column-end: span 5
}

.grid-span-5.-overflow {
	margin-left: -15.70313%;
	margin-right: -15.70313%
}

.grid-span-6 {
	-ms-grid-column-span: 6;
	grid-column-end: span 6
}

.grid-span-6.-overflow {
	margin-left: -12.36979%;
	margin-right: -12.36979%
}

.grid-span-7 {
	-ms-grid-column-span: 7;
	grid-column-end: span 7
}

.grid-span-7.-overflow {
	margin-left: -9.98884%;
	margin-right: -9.98884%
}

.grid-span-8 {
	-ms-grid-column-span: 8;
	grid-column-end: span 8
}

.grid-span-8.-overflow {
	margin-left: -8.20312%;
	margin-right: -8.20312%
}

.grid-span-9 {
	-ms-grid-column-span: 9;
	grid-column-end: span 9
}

.grid-span-9.-overflow {
	margin-left: -6.81424%;
	margin-right: -6.81424%
}

.grid-span-10 {
	-ms-grid-column-span: 10;
	grid-column-end: span 10
}

.grid-span-10.-overflow {
	margin-left: -5.70313%;
	margin-right: -5.70313%
}

.grid-span-11 {
	-ms-grid-column-span: 11;
	grid-column-end: span 11
}

.grid-span-11.-overflow {
	margin-left: -4.79403%;
	margin-right: -4.79403%
}

.grid-span-12 {
	-ms-grid-column-span: 12;
	grid-column-end: span 12
}

.grid-span-12.-overflow {
	margin-left: -4.03646%;
	margin-right: -4.03646%
}

.grid-start-1 {
	-ms-grid-column: 1;
	grid-column-start: 1
}

.grid-start-2 {
	-ms-grid-column: 2;
	grid-column-start: 2
}

.grid-start-3 {
	-ms-grid-column: 3;
	grid-column-start: 3
}

.grid-start-4 {
	-ms-grid-column: 4;
	grid-column-start: 4
}

.grid-start-5 {
	-ms-grid-column: 5;
	grid-column-start: 5
}

.grid-start-6 {
	-ms-grid-column: 6;
	grid-column-start: 6
}

.grid-start-7 {
	-ms-grid-column: 7;
	grid-column-start: 7
}

.grid-start-8 {
	-ms-grid-column: 8;
	grid-column-start: 8
}

.grid-start-9 {
	-ms-grid-column: 9;
	grid-column-start: 9
}

.grid-start-10 {
	-ms-grid-column: 10;
	grid-column-start: 10
}

.grid-start-11 {
	-ms-grid-column: 11;
	grid-column-start: 11
}

.grid-start-12 {
	-ms-grid-column: 12;
	grid-column-start: 12
}

@media (min-width:600px) {
	.grid-span-s-1 {
		-ms-grid-column-span: 1;
		grid-column-end: span 1
	}
	.grid-span-s-1.-overflow {
		margin-left: -95.70312%;
		margin-right: -95.70312%
	}
	.grid-span-s-2 {
		-ms-grid-column-span: 2;
		grid-column-end: span 2
	}
	.grid-span-s-2.-overflow {
		margin-left: -45.70312%;
		margin-right: -45.70312%
	}
	.grid-span-s-3 {
		-ms-grid-column-span: 3;
		grid-column-end: span 3
	}
	.grid-span-s-3.-overflow {
		margin-left: -29.03646%;
		margin-right: -29.03646%
	}
	.grid-span-s-4 {
		-ms-grid-column-span: 4;
		grid-column-end: span 4
	}
	.grid-span-s-4.-overflow {
		margin-left: -20.70312%;
		margin-right: -20.70312%
	}
	.grid-span-s-5 {
		-ms-grid-column-span: 5;
		grid-column-end: span 5
	}
	.grid-span-s-5.-overflow {
		margin-left: -15.70313%;
		margin-right: -15.70313%
	}
	.grid-span-s-6 {
		-ms-grid-column-span: 6;
		grid-column-end: span 6
	}
	.grid-span-s-6.-overflow {
		margin-left: -12.36979%;
		margin-right: -12.36979%
	}
	.grid-span-s-7 {
		-ms-grid-column-span: 7;
		grid-column-end: span 7
	}
	.grid-span-s-7.-overflow {
		margin-left: -9.98884%;
		margin-right: -9.98884%
	}
	.grid-span-s-8 {
		-ms-grid-column-span: 8;
		grid-column-end: span 8
	}
	.grid-span-s-8.-overflow {
		margin-left: -8.20312%;
		margin-right: -8.20312%
	}
	.grid-span-s-9 {
		-ms-grid-column-span: 9;
		grid-column-end: span 9
	}
	.grid-span-s-9.-overflow {
		margin-left: -6.81424%;
		margin-right: -6.81424%
	}
	.grid-span-s-10 {
		-ms-grid-column-span: 10;
		grid-column-end: span 10
	}
	.grid-span-s-10.-overflow {
		margin-left: -5.70313%;
		margin-right: -5.70313%
	}
	.grid-span-s-11 {
		-ms-grid-column-span: 11;
		grid-column-end: span 11
	}
	.grid-span-s-11.-overflow {
		margin-left: -4.79403%;
		margin-right: -4.79403%
	}
	.grid-span-s-12 {
		-ms-grid-column-span: 12;
		grid-column-end: span 12
	}
	.grid-span-s-12.-overflow {
		margin-left: -4.03646%;
		margin-right: -4.03646%
	}
	.grid-start-s-1 {
		-ms-grid-column: 1;
		grid-column-start: 1
	}
	.grid-start-s-2 {
		-ms-grid-column: 2;
		grid-column-start: 2
	}
	.grid-start-s-3 {
		-ms-grid-column: 3;
		grid-column-start: 3
	}
	.grid-start-s-4 {
		-ms-grid-column: 4;
		grid-column-start: 4
	}
	.grid-start-s-5 {
		-ms-grid-column: 5;
		grid-column-start: 5
	}
	.grid-start-s-6 {
		-ms-grid-column: 6;
		grid-column-start: 6
	}
	.grid-start-s-7 {
		-ms-grid-column: 7;
		grid-column-start: 7
	}
	.grid-start-s-8 {
		-ms-grid-column: 8;
		grid-column-start: 8
	}
	.grid-start-s-9 {
		-ms-grid-column: 9;
		grid-column-start: 9
	}
	.grid-start-s-10 {
		-ms-grid-column: 10;
		grid-column-start: 10
	}
	.grid-start-s-11 {
		-ms-grid-column: 11;
		grid-column-start: 11
	}
	.grid-start-s-12 {
		-ms-grid-column: 12;
		grid-column-start: 12
	}
}

@media (min-width:1024px) {
	.grid-span-m-1 {
		-ms-grid-column-span: 1;
		grid-column-end: span 1
	}
	.grid-span-m-1.-overflow {
		margin-left: -95.70312%;
		margin-right: -95.70312%
	}
	.grid-span-m-2 {
		-ms-grid-column-span: 2;
		grid-column-end: span 2
	}
	.grid-span-m-2.-overflow {
		margin-left: -45.70312%;
		margin-right: -45.70312%
	}
	.grid-span-m-3 {
		-ms-grid-column-span: 3;
		grid-column-end: span 3
	}
	.grid-span-m-3.-overflow {
		margin-left: -29.03646%;
		margin-right: -29.03646%
	}
	.grid-span-m-4 {
		-ms-grid-column-span: 4;
		grid-column-end: span 4
	}
	.grid-span-m-4.-overflow {
		margin-left: -20.70312%;
		margin-right: -20.70312%
	}
	.grid-span-m-5 {
		-ms-grid-column-span: 5;
		grid-column-end: span 5
	}
	.grid-span-m-5.-overflow {
		margin-left: -15.70313%;
		margin-right: -15.70313%
	}
	.grid-span-m-6 {
		-ms-grid-column-span: 6;
		grid-column-end: span 6
	}
	.grid-span-m-6.-overflow {
		margin-left: -12.36979%;
		margin-right: -12.36979%
	}
	.grid-span-m-7 {
		-ms-grid-column-span: 7;
		grid-column-end: span 7
	}
	.grid-span-m-7.-overflow {
		margin-left: -9.98884%;
		margin-right: -9.98884%
	}
	.grid-span-m-8 {
		-ms-grid-column-span: 8;
		grid-column-end: span 8
	}
	.grid-span-m-8.-overflow {
		margin-left: -8.20312%;
		margin-right: -8.20312%
	}
	.grid-span-m-9 {
		-ms-grid-column-span: 9;
		grid-column-end: span 9
	}
	.grid-span-m-9.-overflow {
		margin-left: -6.81424%;
		margin-right: -6.81424%
	}
	.grid-span-m-10 {
		-ms-grid-column-span: 10;
		grid-column-end: span 10
	}
	.grid-span-m-10.-overflow {
		margin-left: -5.70313%;
		margin-right: -5.70313%
	}
	.grid-span-m-11 {
		-ms-grid-column-span: 11;
		grid-column-end: span 11
	}
	.grid-span-m-11.-overflow {
		margin-left: -4.79403%;
		margin-right: -4.79403%
	}
	.grid-span-m-12 {
		-ms-grid-column-span: 12;
		grid-column-end: span 12
	}
	.grid-span-m-12.-overflow {
		margin-left: -4.03646%;
		margin-right: -4.03646%
	}
	.grid-start-m-1 {
		-ms-grid-column: 1;
		grid-column-start: 1
	}
	.grid-start-m-2 {
		-ms-grid-column: 2;
		grid-column-start: 2
	}
	.grid-start-m-3 {
		-ms-grid-column: 3;
		grid-column-start: 3
	}
	.grid-start-m-4 {
		-ms-grid-column: 4;
		grid-column-start: 4
	}
	.grid-start-m-5 {
		-ms-grid-column: 5;
		grid-column-start: 5
	}
	.grid-start-m-6 {
		-ms-grid-column: 6;
		grid-column-start: 6
	}
	.grid-start-m-7 {
		-ms-grid-column: 7;
		grid-column-start: 7
	}
	.grid-start-m-8 {
		-ms-grid-column: 8;
		grid-column-start: 8
	}
	.grid-start-m-9 {
		-ms-grid-column: 9;
		grid-column-start: 9
	}
	.grid-start-m-10 {
		-ms-grid-column: 10;
		grid-column-start: 10
	}
	.grid-start-m-11 {
		-ms-grid-column: 11;
		grid-column-start: 11
	}
	.grid-start-m-12 {
		-ms-grid-column: 12;
		grid-column-start: 12
	}
}

@media (min-width:1440px) {
	.grid-span-l-1 {
		-ms-grid-column-span: 1;
		grid-column-end: span 1
	}
	.grid-span-l-1.-overflow {
		margin-left: -95.70312%;
		margin-right: -95.70312%
	}
	.grid-span-l-2 {
		-ms-grid-column-span: 2;
		grid-column-end: span 2
	}
	.grid-span-l-2.-overflow {
		margin-left: -45.70312%;
		margin-right: -45.70312%
	}
	.grid-span-l-3 {
		-ms-grid-column-span: 3;
		grid-column-end: span 3
	}
	.grid-span-l-3.-overflow {
		margin-left: -29.03646%;
		margin-right: -29.03646%
	}
	.grid-span-l-4 {
		-ms-grid-column-span: 4;
		grid-column-end: span 4
	}
	.grid-span-l-4.-overflow {
		margin-left: -20.70312%;
		margin-right: -20.70312%
	}
	.grid-span-l-5 {
		-ms-grid-column-span: 5;
		grid-column-end: span 5
	}
	.grid-span-l-5.-overflow {
		margin-left: -15.70313%;
		margin-right: -15.70313%
	}
	.grid-span-l-6 {
		-ms-grid-column-span: 6;
		grid-column-end: span 6
	}
	.grid-span-l-6.-overflow {
		margin-left: -12.36979%;
		margin-right: -12.36979%
	}
	.grid-span-l-7 {
		-ms-grid-column-span: 7;
		grid-column-end: span 7
	}
	.grid-span-l-7.-overflow {
		margin-left: -9.98884%;
		margin-right: -9.98884%
	}
	.grid-span-l-8 {
		-ms-grid-column-span: 8;
		grid-column-end: span 8
	}
	.grid-span-l-8.-overflow {
		margin-left: -8.20312%;
		margin-right: -8.20312%
	}
	.grid-span-l-9 {
		-ms-grid-column-span: 9;
		grid-column-end: span 9
	}
	.grid-span-l-9.-overflow {
		margin-left: -6.81424%;
		margin-right: -6.81424%
	}
	.grid-span-l-10 {
		-ms-grid-column-span: 10;
		grid-column-end: span 10
	}
	.grid-span-l-10.-overflow {
		margin-left: -5.70313%;
		margin-right: -5.70313%
	}
	.grid-span-l-11 {
		-ms-grid-column-span: 11;
		grid-column-end: span 11
	}
	.grid-span-l-11.-overflow {
		margin-left: -4.79403%;
		margin-right: -4.79403%
	}
	.grid-span-l-12 {
		-ms-grid-column-span: 12;
		grid-column-end: span 12
	}
	.grid-span-l-12.-overflow {
		margin-left: -4.03646%;
		margin-right: -4.03646%
	}
	.grid-start-l-1 {
		-ms-grid-column: 1;
		grid-column-start: 1
	}
	.grid-start-l-2 {
		-ms-grid-column: 2;
		grid-column-start: 2
	}
	.grid-start-l-3 {
		-ms-grid-column: 3;
		grid-column-start: 3
	}
	.grid-start-l-4 {
		-ms-grid-column: 4;
		grid-column-start: 4
	}
	.grid-start-l-5 {
		-ms-grid-column: 5;
		grid-column-start: 5
	}
	.grid-start-l-6 {
		-ms-grid-column: 6;
		grid-column-start: 6
	}
	.grid-start-l-7 {
		-ms-grid-column: 7;
		grid-column-start: 7
	}
	.grid-start-l-8 {
		-ms-grid-column: 8;
		grid-column-start: 8
	}
	.grid-start-l-9 {
		-ms-grid-column: 9;
		grid-column-start: 9
	}
	.grid-start-l-10 {
		-ms-grid-column: 10;
		grid-column-start: 10
	}
	.grid-start-l-11 {
		-ms-grid-column: 11;
		grid-column-start: 11
	}
	.grid-start-l-12 {
		-ms-grid-column: 12;
		grid-column-start: 12
	}
}

.h-c-headline {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #202124;
	font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
	font-weight: 400;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	overflow-wrap: initial;
	word-wrap: initial
}

.h-c-headline.h-c-headline--display-one {
	line-height: 1.16667;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: -.75px
}

.h-c-headline.h-c-headline--display-one.h-has-top-margin {
	margin-top: 35px
}

.h-c-headline.h-c-headline--display-one.h-has-bottom-margin {
	margin-bottom: 35px
}

.h-c-headline.h-c-headline--display-one.h-has-top-bottom-margin {
	margin-bottom: 35px;
	margin-top: 35px
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--display-one {
		line-height: 1.16667;
		font-size: 72px;
		letter-spacing: -1px
	}
	.h-c-headline.h-c-headline--display-one.h-has-top-margin {
		margin-top: 42px
	}
	.h-c-headline.h-c-headline--display-one.h-has-bottom-margin {
		margin-bottom: 42px
	}
	.h-c-headline.h-c-headline--display-one.h-has-top-bottom-margin {
		margin-bottom: 42px;
		margin-top: 42px
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--display-one {
		line-height: 1.16667;
		font-size: 120px;
		letter-spacing: -2px
	}
	.h-c-headline.h-c-headline--display-one.h-has-top-margin {
		margin-top: 70px
	}
	.h-c-headline.h-c-headline--display-one.h-has-bottom-margin {
		margin-bottom: 70px
	}
	.h-c-headline.h-c-headline--display-one.h-has-top-bottom-margin {
		margin-bottom: 70px;
		margin-top: 70px
	}
}

.h-c-headline.h-c-headline--display-two {
	line-height: 1.15789;
	font-size: 38px;
	font-weight: 400;
	letter-spacing: 0
}

.h-c-headline.h-c-headline--display-two.h-has-top-margin {
	margin-top: 22px
}

.h-c-headline.h-c-headline--display-two.h-has-bottom-margin {
	margin-bottom: 22px
}

.h-c-headline.h-c-headline--display-two.h-has-top-bottom-margin {
	margin-bottom: 22px;
	margin-top: 22px
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--display-two {
		line-height: 1.16667;
		font-size: 60px;
		letter-spacing: -.75px
	}
	.h-c-headline.h-c-headline--display-two.h-has-top-margin {
		margin-top: 35px
	}
	.h-c-headline.h-c-headline--display-two.h-has-bottom-margin {
		margin-bottom: 35px
	}
	.h-c-headline.h-c-headline--display-two.h-has-top-bottom-margin {
		margin-bottom: 35px;
		margin-top: 35px
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--display-two {
		line-height: 1.16667;
		font-size: 96px;
		letter-spacing: -1px
	}
	.h-c-headline.h-c-headline--display-two.h-has-top-margin {
		margin-top: 56px
	}
	.h-c-headline.h-c-headline--display-two.h-has-bottom-margin {
		margin-bottom: 56px
	}
	.h-c-headline.h-c-headline--display-two.h-has-top-bottom-margin {
		margin-bottom: 56px;
		margin-top: 56px
	}
}

.h-c-headline.h-c-headline--one {
	line-height: 1.25;
	font-size: 32px;
	letter-spacing: 0
}

.h-c-headline.h-c-headline--one.h-has-top-margin {
	margin-top: 15px
}

.h-c-headline.h-c-headline--one.h-has-bottom-margin {
	margin-bottom: 15px
}

.h-c-headline.h-c-headline--one.h-has-top-bottom-margin {
	margin-bottom: 15px;
	margin-top: 15px
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--one {
		line-height: 1.15789;
		font-size: 38px;
		letter-spacing: 0
	}
	.h-c-headline.h-c-headline--one.h-has-top-margin {
		margin-top: 13px
	}
	.h-c-headline.h-c-headline--one.h-has-bottom-margin {
		margin-bottom: 13px
	}
	.h-c-headline.h-c-headline--one.h-has-top-bottom-margin {
		margin-bottom: 13px;
		margin-top: 13px
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--one {
		line-height: 1.17857;
		font-size: 56px;
		letter-spacing: -.5px
	}
	.h-c-headline.h-c-headline--one.h-has-top-margin {
		margin-top: 20px
	}
	.h-c-headline.h-c-headline--one.h-has-bottom-margin {
		margin-bottom: 20px
	}
	.h-c-headline.h-c-headline--one.h-has-top-bottom-margin {
		margin-bottom: 20px;
		margin-top: 20px
	}
}

.h-c-headline.h-c-headline--two {
	line-height: 1.33333;
	font-size: 24px;
	letter-spacing: 0
}

.h-c-headline.h-c-headline--two.h-has-top-margin {
	margin-top: 10px
}

.h-c-headline.h-c-headline--two.h-has-bottom-margin {
	margin-bottom: 10px
}

.h-c-headline.h-c-headline--two.h-has-top-bottom-margin {
	margin-bottom: 10px;
	margin-top: 10px
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--two {
		line-height: 1.25;
		font-size: 32px;
		letter-spacing: 0
	}
	.h-c-headline.h-c-headline--two.h-has-top-margin {
		margin-top: 12px
	}
	.h-c-headline.h-c-headline--two.h-has-bottom-margin {
		margin-bottom: 12px
	}
	.h-c-headline.h-c-headline--two.h-has-top-bottom-margin {
		margin-bottom: 12px;
		margin-top: 12px
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--two {
		line-height: 1.18182;
		font-size: 44px;
		letter-spacing: -.5px
	}
	.h-c-headline.h-c-headline--two.h-has-top-margin {
		margin-top: 15px
	}
	.h-c-headline.h-c-headline--two.h-has-bottom-margin {
		margin-bottom: 15px
	}
	.h-c-headline.h-c-headline--two.h-has-top-bottom-margin {
		margin-bottom: 15px;
		margin-top: 15px
	}
}

.h-c-headline.h-c-headline--three {
	line-height: 1.4;
	font-size: 20px;
	letter-spacing: 0
}

.h-c-headline.h-c-headline--three.h-has-top-margin {
	margin-top: 14px
}

.h-c-headline.h-c-headline--three.h-has-bottom-margin {
	margin-bottom: 14px
}

.h-c-headline.h-c-headline--three.h-has-top-bottom-margin {
	margin-bottom: 14px;
	margin-top: 14px
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--three {
		line-height: 1.33333;
		font-size: 24px;
		letter-spacing: 0
	}
	.h-c-headline.h-c-headline--three.h-has-top-margin {
		margin-top: 13px
	}
	.h-c-headline.h-c-headline--three.h-has-bottom-margin {
		margin-bottom: 13px
	}
	.h-c-headline.h-c-headline--three.h-has-top-bottom-margin {
		margin-bottom: 13px;
		margin-top: 13px
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--three {
		line-height: 1.25;
		font-size: 32px;
		letter-spacing: 0
	}
	.h-c-headline.h-c-headline--three.h-has-top-margin {
		margin-top: 15px
	}
	.h-c-headline.h-c-headline--three.h-has-bottom-margin {
		margin-bottom: 15px
	}
	.h-c-headline.h-c-headline--three.h-has-top-bottom-margin {
		margin-bottom: 15px;
		margin-top: 15px
	}
}

.h-c-headline.h-c-headline--four {
	line-height: 1.625;
	font-size: 16px;
	letter-spacing: 0
}

.h-c-headline.h-c-headline--four.h-has-top-margin {
	margin-top: 6px
}

.h-c-headline.h-c-headline--four.h-has-bottom-margin {
	margin-bottom: 6px
}

.h-c-headline.h-c-headline--four.h-has-top-bottom-margin {
	margin-bottom: 6px;
	margin-top: 6px
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--four {
		line-height: 1.625;
		font-size: 16px;
		letter-spacing: 0
	}
	.h-c-headline.h-c-headline--four.h-has-top-margin {
		margin-top: 6px
	}
	.h-c-headline.h-c-headline--four.h-has-bottom-margin {
		margin-bottom: 6px
	}
	.h-c-headline.h-c-headline--four.h-has-top-bottom-margin {
		margin-bottom: 6px;
		margin-top: 6px
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--four {
		line-height: 1.36364;
		font-size: 22px;
		letter-spacing: 0
	}
	.h-c-headline.h-c-headline--four.h-has-top-margin {
		margin-top: 12px
	}
	.h-c-headline.h-c-headline--four.h-has-bottom-margin {
		margin-bottom: 12px
	}
	.h-c-headline.h-c-headline--four.h-has-top-bottom-margin {
		margin-bottom: 12px;
		margin-top: 12px
	}
}

.h-c-headline.h-c-headline--subhead {
	line-height: 1.625;
	font-size: 16px;
	letter-spacing: 0
}

.h-c-headline.h-c-headline--subhead.h-has-top-margin {
	margin-top: 6px
}

.h-c-headline.h-c-headline--subhead.h-has-bottom-margin {
	margin-bottom: 6px
}

.h-c-headline.h-c-headline--subhead.h-has-top-bottom-margin {
	margin-bottom: 6px;
	margin-top: 6px
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--subhead {
		line-height: 1.625;
		font-size: 16px;
		letter-spacing: 0
	}
	.h-c-headline.h-c-headline--subhead.h-has-top-margin {
		margin-top: 6px
	}
	.h-c-headline.h-c-headline--subhead.h-has-bottom-margin {
		margin-bottom: 6px
	}
	.h-c-headline.h-c-headline--subhead.h-has-top-bottom-margin {
		margin-bottom: 6px;
		margin-top: 6px
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--subhead {
		line-height: 1.66667;
		font-size: 18px;
		letter-spacing: 0
	}
	.h-c-headline.h-c-headline--subhead.h-has-top-margin {
		margin-top: 12px
	}
	.h-c-headline.h-c-headline--subhead.h-has-bottom-margin {
		margin-bottom: 12px
	}
	.h-c-headline.h-c-headline--subhead.h-has-top-bottom-margin {
		margin-bottom: 12px;
		margin-top: 12px
	}
}

.h-c-headline {
	-moz-hyphens: none;
	-ms-hyphens: none;
	-webkit-hyphens: none;
	color: #000;
	hyphens: none
}

.h-c-copy,
.h-c-copy.h-c-copy--two {
	color: #676c72
}

.glue-o-pagination__button.glue-c-tabset__button {
	border-color: #fff!important
}

.h-c-headline.h-c-headline--display-one {
	color: #202124;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 74px;
	font-weight: 400;
	letter-spacing: -.5px;
	line-height: 1.2973
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--display-one {
		font-size: 92px;
		letter-spacing: -1px;
		line-height: 1.30435
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--display-one {
		font-size: 100px;
		letter-spacing: -1.5px;
		line-height: 1.3
	}
}

.h-c-headline.h-c-headline--display-two {
	color: #202124;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 55px;
	font-weight: 400;
	letter-spacing: -.5px;
	line-height: 1.30909
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--display-two {
		font-size: 74px;
		line-height: 1.33333
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--display-two {
		font-size: 80px;
		line-height: 1.3
	}
}

.h-c-headline.h-c-headline--one {
	color: #202124;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 37px;
	font-weight: 400;
	line-height: 1.2973
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--one {
		font-size: 55px;
		letter-spacing: -.5px;
		line-height: 1.30909
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--one {
		font-size: 60px;
		line-height: 1.3
	}
}

.h-c-headline.h-c-headline--two {
	color: #202124;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 1.28571
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--two {
		font-size: 46px;
		letter-spacing: -.25px;
		line-height: 1.30435
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--two {
		font-size: 50px;
		line-height: 1.3
	}
}

.h-c-headline.h-c-headline--three {
	color: #202124;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 23px;
	font-weight: 400;
	line-height: 1.30435
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--three {
		font-size: 37px;
		line-height: 1.2973
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--three {
		font-size: 40px;
		letter-spacing: -.25px;
		line-height: 1.3
	}
}

.h-c-headline.h-c-headline--four {
	color: #202124;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.33333
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--four {
		font-size: 28px;
		line-height: 1.28571
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--four {
		font-size: 30px;
		line-height: 1.3
	}
}

.h-c-headline.h-c-headline--four.h-u-font-weight-bold {
	font-weight: 500
}

.h-c-headline.h-c-headline--six {
	color: #5f6368;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.71429
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--six {
		font-size: 20px;
		line-height: 1.5
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--six {
		font-size: 22px;
		line-height: 1
	}
}

.h-c-headline.h-c-headline--subhead {
	color: #202124;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.71429
}

@media (min-width:600px) {
	.h-c-headline.h-c-headline--subhead {
		font-size: 23px;
		line-height: 1.30435
	}
}

@media (min-width:1024px) {
	.h-c-headline.h-c-headline--subhead {
		font-size: 25px;
		letter-spacing: .5px;
		line-height: 1.32
	}
}

.h-c-headline.h-c-headline--subhead.h-u-font-weight-bold {
	font-weight: 500
}
